<header [ngClass]="headerClass">
  <div class="languageBox">
    <button
      class="languageButton"
      (click)="changeLanguageButton('en')"
      [ngClass]="EN"
    >
      <img src="../../assets/language/EN.png" alt="EN" />
    </button>
    <button
      class="languageButton"
      (click)="changeLanguageButton('pl')"
      [ngClass]="PL"
    >
      <img src="../../assets/language/PL.png" alt="PL" />
    </button>
  </div>
  <nav [ngClass]="navClass">
    <ul>
      <li *ngFor="let SN of sectionName">
        <a
          href="#{{ SN.name }}"
          (click)="clickNavbar(SN.id)"
          [ngClass]="SN.className"
          >{{ "sectionName." + SN.id | translate }}</a
        >
      </li>
    </ul>
  </nav>
  <button class="hamburgerButton">
    <img
      src="./assets/hamburger.png"
      alt="menu button"
      (click)="changeMenu()"
    />
  </button>
</header>
