section {
  padding-top: 90px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

.aboutBox {
  width: 60%;
  margin-top: 60px;
}
.aboutBox p {
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 25px;
  text-align: justify;
}
.skillBox,
.languageBox {
  width: 100%;
  margin-top: 40px;
}

.linkBox {
  width: 25%;
  min-width: 250px;
  margin-top: 60px;
}

@media only screen and (max-width: 600px) {
  article {
    flex-wrap: wrap;
  }
  .aboutBox {
    width: 100%;
    margin-top: 60px;
  }
  .linkBox {
    width: 100%;
  }
}
