<section id="start">
  <article>
    <div class="text">
      <h2>Hi, I'm Maciej Kuboń</h2>
      <h3>Frontend developer</h3>
      <p>
        A student of applied computer science at the Cracow University of
        Technology, a member of the scientific circle of Programmers and IT
        Enthusiasts of the Cracow University of Technology.
      </p>
      <button><a href="#about">Read more</a> </button>
    </div>
    <div class="photo">
      <figure>
        <img src="../../assets/profile.png" alt="profile" />
      </figure>
    </div>
  </article>
</section>
